<mat-toolbar color="primary">
  <a class="menu" mat-button routerLink="/home">
    <img class="basketball" src="../../../assets/images/Basketball.svg">
    Scoreboard
  </a>
  <a *ngIf="isAuthorized" class="menu" mat-button routerLink="/teams">Teams</a>
  <span class="spacer"></span>
  <button *ngIf="!isAuthorized" class="menu" mat-button (click)="login()">Login</button>
  <button *ngIf="isAuthorized" class="menu" mat-button [matMenuTriggerFor]="menu">{{userData.name}}</button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/profile">Profile</a>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
