<h1 mat-dialog-title>{{title}}</h1>
<div>
  <form [formGroup]="teamInputForm">
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" id="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <div class="file-upload">
        <button mat-raised-button color="primary" (click)="fileUpload.click()">Upload Logo</button>
        <input placeholder="Image" type="file" accept="image/*" (change)="onFileSelected($event)" #fileUpload>
        <div *ngIf="imagePreviewUrl" class="image-preview">
          <div class="delete-image">
            <button mat-icon-button color="warn" (click)="onDeleteClick()">
              <mat-icon aria-label="Remove" matTooltip="Remove logo">clear</mat-icon>
            </button>
          </div>
          <img [src]="imagePreviewUrl" alt="Logo Preview">
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button [disabled]="!teamInputForm.valid" (click)="onButtonClick()">{{buttonText}}</button>
    </div>
  </form>
</div>
