.table-header {
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-content {
  overflow-x: auto;
}

.mat-table {
  min-width: 768px;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 50px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}
