.logo {
  height: 50px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.team-tab-content {
  padding: 16px;
}

.table-header {
  padding: 8px 24px 0;
}

.table-content {
  overflow-x: auto;
}

.mat-table {
  min-width: 768px;
}
