@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<adress>
    <strong>Group:</strong> IFF-4/2<br/>
    <strong>University: </strong> Kaunas University Of Technology<br/>
    <strong>Faculty: </strong> Informatics Faculty<br/>
    <strong>City, Country: </strong> Kaunas, Lithuania<br/>
    <strong>Email:</strong> <a href="mailto:ignas.savickas@ktu.edu" target="_top">Contact Me</a>
</adress>