<h1 mat-dialog-title>{{title}}</h1>
<form #playerInputForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput type="number" placeholder="#" [(ngModel)]="player.number" id="number" name="playerNumber" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="player.name" id="name" name="playerName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Surname" [(ngModel)]="player.surname" id="surname" name="playerSurname" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [disabled]="!playerInputForm.form.valid" (click)="onButtonClick()">{{buttonText}}</button>
  </div>
</form>
