.action-buttons {
  margin-top: 10px;
}

.mat-table {
  overflow: auto;
  min-width: 1008px;
}

.actions {
  display: flex;
}

.logo {
  height: 40px;
  margin-left: auto;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.dialog-title {
  height: 50px;
}

.dialog-title img {
  max-height: 100%;
  max-width: 100%;
  float: left;
}

.dialog-title h1 {
  position: relative;
  display: flex;
  justify-content: center;
  top: 10px;
}
