<app-header [titleName]="'Teams'" [addButton]="true" (dialogClosed)="addNewTeam($event)"></app-header>
<p *ngIf="teams.length == 0">There is no teams.</p>
<mat-nav-list>
  <mat-list-item *ngFor="let team of teams" (click)="onTeamClick(team)">
    {{team.name}}
    <div class="logo">
      <img *ngIf="team.logoPath" src="{{getImageUrl(team.logoPath)}}" alt="Team Logo">
    </div>
  </mat-list-item>
</mat-nav-list>
<mat-paginator [length]="teamsSize"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageEvent($event)">
</mat-paginator>
