.input-row {
  flex-direction: row;
}

.mat-table {
  overflow: auto;
  min-width: 1008px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
}

.file-upload {
  margin-bottom: 10px;
}

.file-upload input {
  display: none;
}
