.basketball {
  width: 30px;
  margin-right: 10px;
}

.mat-toolbar {
  height: 70px;
}

.spacer {
  flex: 1 1 auto;
}

p {
  font-weight: normal;
}

.author {
  font-size: 16px;
}

.ktu {
  font-size: 12px;
}
